@inherits CmsLayout.Models.Pages.BaseViewPage


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cms Layout sample</title>
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()
    <div>
        @LayoutModel.Service.Constant <br />
        @LayoutModel.Service.Mutable <br />
        @RenderBody()
    </div>
</body>
</html>
